body{
    margin: 0;
    padding: 0;
}
    /* FIRST CONTAINER */
.first-container{
    background-color: #1F2937;
}
.header{
    display: flex;
    gap:50px;
    padding-left: 160px;
    padding-right: 160px;
}
.header h2{
    font-size: 24px;
    color: #F9FAF8;
    margin-right: auto;
    flex-shrink: 0;
}
.links{
    display: flex;
    align-items: center;
    gap: 50px;
}
a{
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
    flex-wrap:wrap ;
}
.main{
    display: flex;
    padding: 80px 160px 100px 160px;
    gap: 50px;
    flex-wrap: wrap;

}
.main-text{
    margin-right: auto;
}
.main-text h1{
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}
.main-text p{
    font-size: 18px;
    color: #E5E7EB;
}
button{
    border-radius: 10px;
    color: #ffffff;
    font-size: 18px;
    background: #3498db;
    padding: 8px 30px 8px 30px;
    text-decoration: none;
}
.main img{
    width: 500px;
    text-align: center;
}

 /* SECOND CONTAINER */

.second-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 80px;
}
.second-container h1{
    padding-bottom: 30px;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}
 .images{
    display: flex;
    gap: 50px;
    flex-wrap: wrap;

}
 .img-and-text img{
    height: 200px;
    width: 200px;
    border-radius: 10px;
    border: solid 4px #3498db;
}
.img-and-text p{
    font-size: 25px;
    text-align: center;
}